@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
}
#button {
  background-color: cyan;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
