@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #202020;
  color: #FFFFFF;
  display: flex;
  gap: 15px;
}
#button {
  --1: #149CEA;
  --2: #2a75a1;
  --3: #2e5a7390;
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: var(--1);
  border: 2px solid var(--2);
  border-radius: 50%;
  box-shadow: 0 4px 0 var(--2);
  transition: all .1s ease;
  filter: drop-shadow(0 15px 20px var(--3));
  margin: auto;
}

#button:active {
  transform: translateY(8px);
  box-shadow: 0 0 0 var(--3);
}
#score {
  font-size: 30px;
}
#container {
  height: 100%;
  text-align: center;
  background-color: #303030;
  padding: 10px;
}
.clickcontainer {
  width: 300px;
  border-bottom-right-radius: 20px;
  transform: translate(-10px, -10px);
}
.upg {
  background-color: #505050;
  width: 200px;
  height: 50px;
  border-radius: 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.upgcontainer {
  width: 300px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translate(0px, -10px);
}
.statscontainer {
  width: 300px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  transform: translate(0px, -10px);
}
body, h1, h2, h3, h4, h5, h6, a, p, div, li, button {
  /* make it so people cannot select text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
